<Configuration>
  <MappedFolders>
    <MappedFolder>
      <HostFolder>__HOST_CAPTURE_ROOT__</HostFolder>
      <SandboxFolder>C:\WAPCapture</SandboxFolder>
      <ReadOnly>false</ReadOnly>
    </MappedFolder>
  </MappedFolders>
  <LogonCommand>
    <Command>powershell.exe -NoProfile -NoExit -ExecutionPolicy Bypass -File C:\WAPCapture\Capture-Startup.ps1</Command>
  </LogonCommand>
</Configuration>
